* {
box-sizing: border-box;
}

body {
margin: 0;
padding: 0;
}

.main-container {
display: grid;
grid-template-columns: 16% 28% 28% 28%;
grid-template-rows: 8% 8% 32% 26% 26%;
height: 100%;
}

.paymetrics {
grid-column: 1/2;
grid-row: 1/2;
background: teal;
color: white;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

.fas {
  width: 20px;
  height:20px;
  color: white;
  padding-left: 20px;

}

.iconbar {
grid-column: 2/5;
grid-row: 1/2;
background: teal;
color: white;
display: flex;
align-items: center;
padding-left: 12px;
}

.nav {
grid-column: 1/2;
grid-row: 2/6;
background: grey;
color: white;
display: flex;
flex-direction: column;
justify-content: flex-start;
border: solid 1px black;
}

.nav div {
padding-left: 60px;
padding-top: 30px;
}

.dashboardreports {
grid-column: 2/3;
grid-row: 2/3;
display: flex;
flex-direction: row;
align-items: center;
padding-left: 60px;
}

.dashnav {
grid-column: 3/5;
grid-row: 2/3;
background: white;
color: black;
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
background: white;
padding-right: 40px;
}

.dashnav div {
flex-direction: row;
align-content: space-between;
padding: 10px;
}

.revenue {
grid-column: 2/4;
grid-row: 3/4;
background-image: url('./revenue.png');
border: 1px solid black;
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}

.numberofsales {
grid-column: 4/5;
grid-row: 3/4;
background-image: url('./numberofsales.png');
border: 1px solid black;
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}

.averevpercustomer {
grid-column: 2/3;
grid-row: 4/5;
background-image: url('./averevpercustomer.png');
border: 1px solid black;
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}

.salesperproduct {
grid-column: 3/4; 
grid-row: 4/5;
background-image: url('./averevperproduct.png');
border: 1px solid black;
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}

.totalrefund {
grid-column: 4/5;
grid-row: 4/5;
background-image: url('./refund.png');
border: 1px solid black;
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}

.combinedreport {
grid-column: 2/3;
grid-row: 5/6;
background-image: url('./combinedreport.png');
border: 1px solid black;
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}

.numberofproductssold {
grid-column: 3/4;
grid-row: 5/6;
background-image: url('./numberofproductssold.png');
border: 1px solid black;
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}

.totalcustomers {
  grid-column: 4/5;
grid-row: 5/6;
background-image: url('./totalcustomers.png');
border: 1px solid black;
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}



@media (max-width: 600px) {
  .main-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .paymetrics {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .fas {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .iconbar {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .nav {
    grid-column: 1/3;
    grid-row: 4/5;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .dashboardreports {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .dashnav {
    grid-column: 1/3;
    grid-row: 3/4;
  }

  .revenue {
    grid-column: 1/3;
    grid-row: 5/6;
    height: 175px;         
  }

  .numberofsales {
    grid-column: 1/3;
    grid-row: 6/7;
    height: 175px;
  }

  .averevpercustomer {
    grid-column: 1/3;
    grid-row: 7/8;
    height: 175px;
  }

  .salesperproduct {
    grid-column: 1/3;
    grid-row: 8/9;
    height: 175px;
  }

  .totalrefund {
    grid-column: 1/3;
    grid-row: 9/10;
    height: 175px;
  }

  .combinedreport {
    grid-column: 1/3;
    grid-row: 10/11;
    height: 175px;
  }

  .numberofproductssold {
    grid-column: 1/3;
    grid-row: 11/12;
    height: 175px;
  }

  .totalcustomers {
    grid-column: 1/3;
    grid-row: 12/13;
    height: 175px;
  }



















}
