* {
  box-sizing: border-box; 
}

.main-container {
  font-family: 'Karla', sans-serif;
  height: 100%
}

.header-container {
  height: 48px;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  letter-spacing: 1.7px;
}

.header-left {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: space-around;
  margin-left: 2%;
  font-size: 18px;

}

.header-right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: space-around;
  margin-right: 2%;
  font-size: 14px;
  font-weight: bold;
}

.mana-culture {

} 

.navigation {
  height: 100px;
  border: 1px solid black;
}

.inner-nav {
  width: 80%;
  margin: auto;
}

.nav-list {
  display: flex;
  flex-direction: row;
}

.nav-list li div {
  justify-content: space-between;
}





.search-icon {

}









