
* {
  box-sizing: border-box; 
}

body {
  height: 100%;
  width: 100%;
  margin: 0% auto;
}

.main-container {
  font-family: 'Karla', sans-serif;
}

.top-header {
  height: 48px;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  letter-spacing: 1.7px;
}

.header-left {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: space-around;
  margin-left: 2%;
  font-size: 18px;

}

.header-right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: space-around;
  margin-right: 2%;
  font-size: 14px;
  font-weight: bold;
}

.navigation {
  height: 130px;
  width: 100%;
}

.nav-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-list .options {
  font-size: 20px;
  letter-spacing: 2;
}

.mana-culture {
  height: 150px;
}

.nav-list .mana-culture {
  justify-content: flex-start;
  align-items: center;
}

.nav-list div {
  display: flex;
  align-items: flex-end;
}

.banner-image {
  background-image: url("https://images.unsplash.com/photo-1485811843447-c0989c7b9aae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 600px;
  margin-top: 40px;
}

.look {
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 55px 0px 68px;
  font-size: 40px;
}

.portrait-wrapper {
  display: flex;
  height: 600px;
}

.portrait-wrapper img {
  height: 100%;
  margin: auto;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;
}

.gram {
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 55px 0px 68px;
  font-size: 40px;
}

.footer {
  height: 300px;
  width: 100%;
  border: 1px solid black;
}

.footer-left {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 40px;
}

.footer-left li {
  padding:5px;
}

h5 {
  font-size: 15px;
  font-weight: bold;
}

