.first {
  background-color: indianred;
  
  height: 100px;
  width: 100px;
 
  border: 14px solid #ffc0cb;
  padding: 89px;
}

.column, .row{
  height: 100%;
  width: 100%;
  border: 1px solid red; 
}

.row {
  border: 1px solid gold;
}


.item{
  display: inline-block;
  height: 60px;
  width: 100px;
  margin: 10px;
  background-color: black;

}

.row .item{
  display: inline-block;
  width: 100px;
}