*{
  box-sizing: border-box;
}

body {
  margin: 0;
}

.main-container{
  height: 100%;
  width: 100%;
  border: 1px solid green;
}

.image-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    
  }

@media (min-width: 768px) {
  .main-container .item {
    display: inline-block;
  }

  @media (min-width: 992px) {
    .main-container .item {
      width: 100%;
      background: pink;
    }
  
  
}